@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
    text-transform: uppercase;
}
:-ms-input-placeholder { /* IE 10+ */
    text-transform: uppercase;
}
:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 16px/1.75 $roboto;

    &.no-scroll {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

section {
    padding: 92px 0;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}