@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #424343;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #424343;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #424343;
}
:-moz-placeholder { /* Firefox 18- */
    color: #424343;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 17px/1 $poppins;
    color: $light;
    background: #041436 url("../images/background.jpg") no-repeat 50% 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

section {
    padding: 92px 0;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}
