@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 ::placeholder {
     color: #424343;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 17px/1 $poppins;
    color: $light;
    background: #041436 url('../images/background.jpg') no-repeat 50% 100%;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
    transition: .5s;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    &--large {
        @extend .container;
        max-width: 1810px;
    }
}

section {
    padding: 0;

    &.home {
        padding: 200px 0 10px;

        @include screen(1250) {
            padding-top: 100px;
        }
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include screen(768) {
        flex-direction: column; 
    }

    .col-50 {
        width: 50%;
        display: flex;

        @include screen(768) {
            width: 100%;
        }
    }

    .col-25 {
        width: calc(25% - 21px);
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid $white;
    max-width: 220px;
    width: 100%;
    padding: 24px 0;
    margin: 80px 0 0;
    transition: .5s;

    @include screen(1024) {
        margin: 40px 0 0;
    }

    @include screen(900) {
        margin: 20px 0 0;
    }

    @include screen(480) {
        padding: 15px 0;
    }

    a {
        font: 600 18px/1 $openSans;
        color: $white;
        text-transform: uppercase;
    }

    &:hover {
        background: $gold;
        border-color: $gold;
    }
}

.gold-text {
    color: $gold;
}

