.charts {

    .tabs {

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            border: 1px solid rgba(255,255,255,.63);
            padding: 0 20px;
        }

        &__button {
            font-weight: 700;
            padding: 15px 20px;
            cursor: pointer;
            transition: .4s;
            color: $white;

            &.active,
            &:hover {
                color: $gold;
            }
        }

        &__content {
            border: 1px solid rgba(255,255,255,.63);
            padding: 0 15px;
        }

        &__item {
            display: none;
            padding: 0 0 45px;

            .row {
                padding: 0 75px;
            }

            .col-50 {
                display: block;
                width: auto;
                max-width: calc(50% - 20px);
            }
        }

        &__marquee {
            border-bottom: 1px solid rgba(54, 54, 54, .26);
            padding: 25px 0;
            margin: 0 0 36px;
            display: flex;
            align-items: center;
            overflow: hidden;

            .js-marquee {
                display: flex;
                width: 100%;
            }

            &-item {
                text-align: center;
                width: 18%;
                padding: 0 15px;

                div {
                    text-transform: uppercase;
                    margin: 0 0 8px;
                }
            }
        }
    }

    &__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 32px;

        h5 {
            font-weight: 700;
            font-size: 20px;
        }

        span {
            text-transform: uppercase;
        }
    }
}