$poppins: 'Poppins', sans-serif;
$openSans: 'Open Sans', sans-serif;

$black: #000;
$dark: #0c0b0b;
$white: #fff;
$whiteHalf: rgba($white, .5);
$light: #f8f8f8;
$gold: #face34;


$header: #0f132d;
$headerActive: #004a89;